.logo-icon{
    color: #F8A42A;
    position: absolute;
    top: -10%;
    left: 50%;
    transform: translateX(-50%);
}

.navbar-container{
   display: flex;
    flex-wrap: wrap;
}

.navbar-logo-wrapper {
    margin-right: auto;
    background-color: red;
}
.navbar-buttons {
    display: flex;
    column-gap: 12px;
}